Importing necessary Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df=pd.read_csv('deliveries_updated_mens_ipl_upto_2024 - deliveries_updated_mens_ipl_upto_2024.csv')
df.head()

,matchId,inning,over_ball,over,ball,batting_team,bowling_team,batsman,non_striker,bowler,batsman_runs,extras,isWide,isNoBall,Byes,LegByes,Penalty,dismissal_kind,player_dismissed,date
0,335982,1,0.1,0,1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,P Kumar,0,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,2008-04-18
1,335982,1,0.2,0,2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18
2,335982,1,0.3,0,3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18
3,335982,1,0.4,0,4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18
4,335982,1,0.5,0,5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18

Date is in unsupported format

In [3]:
df['date'] = pd.to_datetime(df['date'], errors='coerce')
df['date'].dtype

dtype('<M8[ns]')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260920 entries, 0 to 260919
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   matchId           260920 non-null  int64
 1   inning            260920 non-null  int64
 2   over_ball         260920 non-null  float64
 3   over              260920 non-null  int64
 4   ball              260920 non-null  int64
 5   batting_team      260920 non-null  object
 6   bowling_team      260920 non-null  object
 7   batsman           260920 non-null  object
 8   non_striker       260920 non-null  object
 9   bowler            260920 non-null  object
 10  batsman_runs      260920 non-null  int64
 11  extras            260920 non-null  int64
 12  isWide            8381 non-null    float64
 13  isNoBall          1093 non-null    float64
 14  Byes              673 non-null     float64
 15  LegByes           4001 non-null    float64
 16  Penalty           2 non-null       float64
 17  dismissal_kind    12950 non-null   object
 18  player_dismissed  12950 non-null   object
 19  date              260920 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(6), int64(6), object(7)
memory usage: 39.8+ MB

### Observation
feature- Penalty has only 2 non-null values, so we can drop \
date time was earlier in text so we did changes and now format is datetime64[ns]

In [5]:
df=df.drop(columns =['Penalty'],axis=0)
df.head()

,matchId,inning,over_ball,over,ball,batting_team,bowling_team,batsman,non_striker,bowler,batsman_runs,extras,isWide,isNoBall,Byes,LegByes,dismissal_kind,player_dismissed,date
0,335982,1,0.1,0,1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,P Kumar,0,1,NaN,NaN,NaN,1.0,NaN,NaN,2008-04-18
1,335982,1,0.2,0,2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18
2,335982,1,0.3,0,3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,1,1.0,NaN,NaN,NaN,NaN,NaN,2008-04-18
3,335982,1,0.4,0,4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18
4,335982,1,0.5,0,5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18

In [6]:
df.columns

Index(['matchId', 'inning', 'over_ball', 'over', 'ball', 'batting_team',
       'bowling_team', 'batsman', 'non_striker', 'bowler', 'batsman_runs',
       'extras', 'isWide', 'isNoBall', 'Byes', 'LegByes', 'dismissal_kind',
       'player_dismissed', 'date'],
      dtype='object')

### Handling Missing Values
1. IsWide and IsNoBall can only be 0 only when its a perfect ball by bowler\
   So NaN me we can replace it as 0 , stating that the ball was perfect and 0 wide/noball runs scored..

In [7]:
df['isWide']=df['Byes'].fillna(0).astype(int)
df['isNoBall']=df['Byes'].fillna(0).astype(int)
df.head()

,matchId,inning,over_ball,over,ball,batting_team,bowling_team,batsman,non_striker,bowler,batsman_runs,extras,isWide,isNoBall,Byes,LegByes,dismissal_kind,player_dismissed,date
0,335982,1,0.1,0,1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,P Kumar,0,1,0,0,NaN,1.0,NaN,NaN,2008-04-18
1,335982,1,0.2,0,2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,0,0,0,NaN,NaN,NaN,NaN,2008-04-18
2,335982,1,0.3,0,3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,1,0,0,NaN,NaN,NaN,NaN,2008-04-18
3,335982,1,0.4,0,4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,0,0,0,NaN,NaN,NaN,NaN,2008-04-18
4,335982,1,0.5,0,5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,0,0,0,NaN,NaN,NaN,NaN,2008-04-18


Byes and LByes have multiple NaN (Not a Number ) Values\
replacing them w 0 as int \
fillna() used for filling in place of NaN , can use replace(param1,param2) \

In [8]:
df['Byes']=df['Byes'].fillna(0).astype(int)
df['LegByes']=df['Byes'].fillna(0).astype(int)
df.head()

,matchId,inning,over_ball,over,ball,batting_team,bowling_team,batsman,non_striker,bowler,batsman_runs,extras,isWide,isNoBall,Byes,LegByes,dismissal_kind,player_dismissed,date
0,335982,1,0.1,0,1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,P Kumar,0,1,0,0,0,0,NaN,NaN,2008-04-18
1,335982,1,0.2,0,2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,0,0,0,0,0,NaN,NaN,2008-04-18
2,335982,1,0.3,0,3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,1,0,0,0,0,NaN,NaN,2008-04-18
3,335982,1,0.4,0,4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,0,0,0,0,0,NaN,NaN,2008-04-18
4,335982,1,0.5,0,5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,0,0,0,0,0,NaN,NaN,2008-04-18

In [9]:
df['player_dismissed'].unique()[:10]

array([nan, 'SC Ganguly', 'RT Ponting', 'DJ Hussey', 'R Dravid',
       'V Kohli', 'JH Kallis', 'W Jaffer', 'MV Boucher', 'B Akhil'],
      dtype=object)

PlayerDismissed me it should be \
1.Playername(in case of Out)
2.Not-Out (in case of NaN)

In [10]:
df['player_dismissed']=df['player_dismissed'].fillna('Not-Out')
df['player_dismissed'].unique()[:10]

array(['Not-Out', 'SC Ganguly', 'RT Ponting', 'DJ Hussey', 'R Dravid',
       'V Kohli', 'JH Kallis', 'W Jaffer', 'MV Boucher', 'B Akhil'],
      dtype=object)

In [11]:
df

,matchId,inning,over_ball,over,ball,batting_team,bowling_team,batsman,non_striker,bowler,batsman_runs,extras,isWide,isNoBall,Byes,LegByes,dismissal_kind,player_dismissed,date
0,335982,1,0.1,0,1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,P Kumar,0,1,0,0,0,0,NaN,Not-Out,2008-04-18
1,335982,1,0.2,0,2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,0,0,0,0,0,NaN,Not-Out,2008-04-18
2,335982,1,0.3,0,3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,1,0,0,0,0,NaN,Not-Out,2008-04-18
3,335982,1,0.4,0,4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,0,0,0,0,0,NaN,Not-Out,2008-04-18
4,335982,1,0.5,0,5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,0,0,0,0,0,NaN,Not-Out,2008-04-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2,9.5,9,5,Kolkata Knight Riders,Sunrisers Hyderabad,SS Iyer,VR Iyer,AK Markram,1,0,0,0,0,0,NaN,Not-Out,2024-05-26
260916,1426312,2,9.6,9,6,Kolkata Knight Riders,Sunrisers Hyderabad,VR Iyer,SS Iyer,AK Markram,1,0,0,0,0,0,NaN,Not-Out,2024-05-26
260917,1426312,2,10.1,10,1,Kolkata Knight Riders,Sunrisers Hyderabad,VR Iyer,SS Iyer,Shahbaz Ahmed,1,0,0,0,0,0,NaN,Not-Out,2024-05-26
260918,1426312,2,10.2,10,2,Kolkata Knight Riders,Sunrisers Hyderabad,SS Iyer,VR Iyer,Shahbaz Ahmed,1,0,0,0,0,0,NaN,Not-Out,2024-05-26
260919,1426312,2,10.3,10,3,Kolkata Knight Riders,Sunrisers Hyderabad,VR Iyer,SS Iyer,Shahbaz Ahmed,1,0,0,0,0,0,NaN,Not-Out,2024-05-26

In [12]:
df['dismissal_kind'].unique()[:10]

array([nan, 'caught', 'bowled', 'run out', 'lbw', 'retired hurt',
       'stumped', 'caught and bowled', 'hit wicket',
       'obstructing the field'], dtype=object)

### If NaN (dismissal_kind) me it should be Not-out else better state its kind

In [13]:
df['dismissal_kind']=df['dismissal_kind'].fillna('Not-Out')
df['dismissal_kind'].unique()[:10]

array(['Not-Out', 'caught', 'bowled', 'run out', 'lbw', 'retired hurt',
       'stumped', 'caught and bowled', 'hit wicket',
       'obstructing the field'], dtype=object)

In [14]:
df.isna().sum()

matchId             0
inning              0
over_ball           0
over                0
ball                0
batting_team        0
bowling_team        0
batsman             0
non_striker         0
bowler              0
batsman_runs        0
extras              0
isWide              0
isNoBall            0
Byes                0
LegByes             0
dismissal_kind      0
player_dismissed    0
date                0
dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260920 entries, 0 to 260919
Data columns (total 19 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   matchId           260920 non-null  int64
 1   inning            260920 non-null  int64
 2   over_ball         260920 non-null  float64
 3   over              260920 non-null  int64
 4   ball              260920 non-null  int64
 5   batting_team      260920 non-null  object
 6   bowling_team      260920 non-null  object
 7   batsman           260920 non-null  object
 8   non_striker       260920 non-null  object
 9   bowler            260920 non-null  object
 10  batsman_runs      260920 non-null  int64
 11  extras            260920 non-null  int64
 12  isWide            260920 non-null  int64
 13  isNoBall          260920 non-null  int64
 14  Byes              260920 non-null  int64
 15  LegByes           260920 non-null  int64
 16  dismissal_kind    260920 non-null  object
 17  player_dismissed  260920 non-null  object
 18  date              260920 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(10), object(7)
memory usage: 37.8+ MB

### We now have a clean the Dataset
### Will go for EDA

In [16]:
df.describe()

,matchId,inning,over_ball,over,ball,batsman_runs,extras,isWide,isNoBall,Byes,LegByes,date
count,2.609200e+05,260920.000000,260920.000000,260920.000000,260920.000000,260920.000000,260920.000000,260920.000000,260920.000000,260920.000000,260920.000000,260920
mean,9.070665e+05,1.483531,9.560015,9.197677,3.623452,1.265001,0.067806,0.004814,0.004814,0.004814,0.004814,2016-07-08 06:32:41.649547776
min,3.359820e+05,1.000000,0.100000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2008-04-18 00:00:00
25%,5.483340e+05,1.000000,4.500000,4.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2012-04-22 00:00:00
50%,9.809670e+05,1.000000,9.400000,9.000000,4.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2016-05-06 00:00:00
75%,1.254066e+06,2.000000,14.400000,14.000000,5.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2021-04-17 00:00:00
max,1.426312e+06,6.000000,19.900000,19.000000,11.000000,6.000000,7.000000,4.000000,4.000000,4.000000,4.000000,2024-05-26 00:00:00
std,3.679913e+05,0.502643,5.686116,5.683484,1.813850,1.639298,0.343265,0.115752,0.115752,0.115752,0.115752,NaN

In [17]:
df['season']=df['date'].dt.year
matches_season=df.groupby('season')['matchId'].nunique()

In [18]:
import plotly.io as pio
pio.renderers.default = "iframe_connected"
# pio.renderers.default = "browser"



import plotly.express as px
fig= px.bar(
matches_season,
x=matches_season.index,
y=matches_season.values,
labels={'x':'Season','y':'No Of Matches'},
title='Matches per Season in IPl'

)
fig.show()

### Observation
we now have a interactive Bar-plot, showing number of matches played every season and which season has the most matches played (hover to see info)

In [19]:
df.columns

Index(['matchId', 'inning', 'over_ball', 'over', 'ball', 'batting_team',
       'bowling_team', 'batsman', 'non_striker', 'bowler', 'batsman_runs',
       'extras', 'isWide', 'isNoBall', 'Byes', 'LegByes', 'dismissal_kind',
       'player_dismissed', 'date', 'season'],
      dtype='object')

## Top Performer Analysis 
1.Top Batsman (batsman_runs,batsman) \
2.Top Bowler

In [20]:
top_batsmen=df.groupby('batsman')["batsman_runs"].sum().reset_index()
top_batsmen=top_batsmen.sort_values(by='batsman_runs',ascending=False)
top_batsmen_10=top_batsmen.head(10)

import plotly.express as px
fig = px.bar(
top_batsmen_10,
x="batsman",
y="batsman_runs",
title="Top 10 Batsman ",
labels={"batsman_runs": "Total Runs", "batsman": "Batsman"},
text="batsman_runs"    
)

fig.show()

## *Insight*:
- The Plot shows Virat Kohli and Rohit Sharma (RG Sharma) leading with over 6,000 and 6,630 runs respectively, indicating consistent dominance. The "Matches per Season in IPL" plot reveals peak seasons (e.g., 2012, 2022, 2024) with 70+ matches, suggesting higher opportunities for runs.  
## *Action*:
- Teams should prioritize Kohli and Sharma in seasons with increased match counts (like 2025, if similar trends hold), ensuring they bat in favorable conditions (e.g., powerplay) and face weaker bowling attacks to capitalize on their proven track record.

#### Top Bowler

In [21]:
top_bowler=df[df['dismissal_kind'].notna()] \
             .groupby('bowler')['dismissal_kind'] \
             .count() \
              .sort_values(ascending=False)
top_10_bowlers=top_bowler.head(10)

In [22]:
import plotly.express as px
fig=px.bar(
top_10_bowlers,
x=top_10_bowlers.index,
y=top_10_bowlers.values,
labels={'x':'Bowlers','y':'Wickets'},
title='Top 10 Bowlers '
)
fig.show()

## *Insight*:
- The bar plot identifies R Ashwin as the leading wicket-taker (over 4000 wickets), with SP Narine and B Kumar also excelling (around 4000 and 3500 wickets respectively), indicating their reliability across seasons.  
##  *Action*: 
- Teams should utilize Ashwin, Narine, and Kumar in high-pressure overs (e.g., death overs or powerplay defenses), pairing them with tailored field strategies (e.g., off-side traps for Ashwin’s spin) to counter aggressive batting lineups in critical matches.

### Bowler vs Batsman Dismissal

In [23]:
wicket=df[df['dismissal_kind'].notna()]
bowl_batsmen=wicket.groupby(['bowler','batsman']).size().reset_index(name='dismissals')
top_matchups = bowl_batsmen.sort_values(by='dismissals', ascending=False).head(10)

fig = px.imshow(
    top_matchups.pivot(index='bowler', columns='batsman', values='dismissals'),
    text_auto=True,
    color_continuous_scale="Reds",
    labels=dict(x="Batsman", y="Bowler", color="Dismissals"),
    title="Top Bowler vs Batsman Dismissals"
)
fig.update_layout(width=900, height=600)
fig.show()

 ## *Insight*: 
- The heatmap highlights SP Narine’s strong record against V Kohli (136 dismissals) and RA Jadeja’s success against  SK Raina (146 dismissals), showing targeted effectiveness.  
 ## *Action*:
- Coaches should deploy Narine against Kohli and Jadeja against Raina in crucial overs (e.g., 10-15 or death overs), adjusting field settings (e.g., close-in fielders for spin) to maximize dismissal chances, especially in playoff scenarios.

### Now Team runs in PowerPlay vs Death Overs

In [24]:

power_play = (
    df[df['over'].between(1, 6)]
    .groupby('batting_team')['batsman_runs']
    .sum()
    .reset_index(name='Powerplay Runs')
)

death_over = (
    df[df['over'].between(16, 20)]
    .groupby('batting_team')['batsman_runs']
    .sum()
    .reset_index(name='Death-Over Runs')
)

team_runs = power_play.merge(death_over, on='batting_team')


fig = px.bar(
    team_runs,
    x='batting_team',
    y=['Powerplay Runs', 'Death-Over Runs'],
    barmode='group',
    title="Team Runs in PowerPlay vs Death-Overs",
    labels={"value": "Runs", "batting_team": "Team", "variable": "Moment"}
)

fig.show()

## *Insight*: 
- The  bar plot indicates Mumbai Indians and Chennai Super Kings excel in death overs (8k-10k runs), while teams like Gujarat Lions and Rising Pune Supergiants lag (2k-4k runs). This suggests a gap in finishing ability.  
## *Action*: 
- Struggling teams should recruit or develop death-over specialists (e.g., hard-hitting batsmen like MS Dhoni) and train current players to accelerate in overs 16-20. Leading teams should maintain aggressive intent with their finishers to sustain their edge.